@model CheckOutVM
@{
    ViewData["Title"] = "بررسی سفارش سفارش";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <link href="~/lib/kendo/css/web/kendo.rtl.min.css" rel="stylesheet" />
    <link href="~/lib/kendo/css/web/kendo.bootstrap.mobile.min.css" rel="stylesheet" />
    <link href="~/lib/kendo/css/web/kendo.bootstrap-v4.min.css" rel="stylesheet" />
}
@section js{
    <script src="~/lib/kendo/js/kendo.all.min.js"></script>
    <script src="~/lib/kendo/js/kendo.aspnetmvc.min.js"></script>
    <script src="~/lib/kendo/js/kendo.timezones.min.js"></script>
    <script src="~/js/kendo.fa-IR.js"></script>

    <script>
        function filterCity(e) {
            return {
                provinceId: $("#ProvinceId").val(),
                name: e.filter.filters[0].value
            };
        }
    </script>
}
<!-- Breadcrumb Start -->
<div class="breadcrumb-area mt-30">
    <div class="container">
        <div class="breadcrumb">
            <ul class="d-flex align-items-center">
                <li><a href="@Url.Content("~/home/")">خانه</a></li>
                <li class="active"><a href="#">بررسی سفارش</a></li>
            </ul>
        </div>
    </div>
    <!-- Container End -->
</div>
<!-- Breadcrumb End -->
<!-- coupon-area start -->
<div class="coupon-area pt-20 pt-sm-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="coupon-accordion">
                    <h3>کد تخفیف دارید؟ <span id="showcoupon">برای وارد کردن کد تخفیف اینجا را کلیک کنید</span></h3>
                    <div id="checkout_coupon" class="coupon-checkout-content">
                        <div class="coupon-info">
                            <form action="#">
                                <p class="checkout-coupon">
                                    <input type="text" class="code" placeholder="کد تخفیف" />
                                    <input type="submit" value="ثبت" />
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="checkout-area pb-100 pt-15 pb-sm-60">
    @using (Html.BeginForm("Checkout", "cart", FormMethod.Post,
new
{
   @id = "cartRequest"
}))
    {
        <div class="container k-rtl">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="checkbox-form mb-sm-40">
                        <h3>ثبت مشخصات شما</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkout-form-list mb-sm-30">
                                    <label>نام <span class="required">*</span></label>
                                    @Html.TextBoxFor(a => a.UserData.FirstName, new { @autocomplete = "off" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkout-form-list mb-30">
                                    <label>نام خانوادگی <span class="required">*</span></label>
                                    @Html.TextBoxFor(a => a.UserData.LastName, new { @autocomplete = "off" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkout-form-list mb-sm-30">
                                    <label>کد ملی</label>
                                    @Html.TextBoxFor(a => a.UserData.NationalCode, new { @autocomplete = "off", @type = "number", @maxlength = "10" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkout-form-list mb-30">
                                    <label>ایمیل</label>
                                    @Html.TextBoxFor(a => a.UserData.EmailAddress, new { @autocomplete = "off", @type = "email" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="country-select clearfix mb-30">
                                    <label>آدرس تحویل سفارش <span class="required">*</span></label>
                                    @(Html.Kendo().DropDownList()
                                        .Name("UserData.AddressId")
                                        .HtmlAttributes(new { style = "width:100%" })
                                        .DataTextField("name")
                                        .DataValueField("id")
                                        .Filter(FilterType.Contains)
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("GetUserAddress", "Cart");
                                            }).ServerFiltering(false);
                                        })
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="different-address">
                            <div class="ship-different-title">
                                <a class="btn btn-info" id="uxAddressModal" href="javascript:void(0)">
                                    <i class="fa fa-plus"></i>
                                    اضافه کردن آدرس جدید
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="your-order">
                        <h3>سفارش شما</h3>
                        <div class="your-order-table table-responsive">
                            <table>

                                <tfoot>
                                    <tr class="cart-subtotal">
                                        <th>قیمت کالاها (@Model.CartItemCount)</th>
                                        <td><span class="amount">@Model.Cost ریال</span></td>
                                    </tr>
                                    <tr class="order-total">
                                        <th>هزینه ارسال</th>
                                        <td>
                                            <span class=" total amount">@Model.PostCost ریال</span>
                                        </td>
                                    </tr>
                                    <tr class="order-total">
                                        <th>
                                            مبلغ قابل پرداخت
                                        </th>
                                        <td>
                                            <span class=" total amount">@Model.FinalCost ریال</span>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="payment-method">
                            <input value="پرداخت" class="return-customer-btn" style="width:100% !important" type="submit">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
