@model List<Product>
<div class="second-arrivals-product pb-45 pb-sm-5">
    <div class="container">
        <div class="main-product-tab-area">
            <div class="tab-menu mb-25">
                <div class="section-ttitle" style="padding-right:50px !important">
                    <h2>پر فروش ترین ها</h2>
                </div>

            </div>

            <div class="tab-content">
                <div id="electronics2" class="tab-pane fade show active">
                    <div class="best-seller-pro-active owl-carousel" dir="ltr">
                        @foreach (var item in Model)
                        {
                            var productPrice = item.Prices.First();
                            <div class="single-product">
                                <!-- Product Image Start -->
                                <div class="pro-img">
                                    <a href="@Url.Content("~/home/product/"+item.Id)">
                                        <img class="primary-img" src="@item.Thubmnail" alt="single-product">
                                    </a>
                                    <a href="#" class="quick_view" data-toggle="modal" data-target="#myModal" title="نمایش سریع"><i class="lnr lnr-magnifier"></i></a>
                                </div>
                                <!-- Product Image End -->
                                <!-- Product Content Start -->
                                <div class="pro-content">
                                    <div class="pro-info">
                                        <h4><a href="@Url.Content("~/home/product/"+item.Id)">@item.Title</a></h4>
                                        <p><span class="price">@Util.Sub3Number(productPrice.DiscountPrice)</span></p>
                                    </div>
                                    <div class="pro-actions">
                                        <div class="actions-primary">
                                            <a href="#" title="اضافه کردن به سبد" class="addtocart" data-id="@productPrice.Id">+ اضافه کردن به سبد </a>
                                        </div>
                                        <div class="actions-secondary">
                                            <a href="#" title="مقایسه"><i class="lnr lnr-sync"></i> <span>مقایسه</span></a>
                                            <a href="#" title="علاقه مندی ها" class="heart" data-id="@item.Id"><i class="lnr lnr-heart"></i> <span>علاقه مندی ها</span></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Product Content End -->
                            </div>

                        }
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>