@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>مهتا کالا : @ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="~/favicon.ico">
    <link rel="stylesheet" href="~/css/font-awesome.min.css?v=1">
    <link rel="stylesheet" href="~/css/ionicons.min.css">
    <link rel="stylesheet" href="~/css/linearicons.css?v=1">
    <link rel="stylesheet" href="~/css/nice-select.css?v=1">
    <link rel="stylesheet" href="~/css/jquery.fancybox.css?v=1.2">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css?v=1">
    <link rel="stylesheet" href="~/css/meanmenu.min.css?v=1">
    <link rel="stylesheet" href="~/css/nivo-slider.css?v=1">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css?v=1">
    <link rel="stylesheet" href="~/css/bootstrap.min.css?v=1">
    <link rel="stylesheet" href="~/css/default.css?v=1.1">
    <link href="~/css/toastr.css" rel="stylesheet" />
    <link href="~/css/sweetalert.css" rel="stylesheet" />
    <link href="~/css/style.css?v=2.28" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/responsive.css?v=2">
    <link href="~/assets/plugins/global/plugins.bundle.rtl.css?v=7.0.6" rel="stylesheet" type="text/css" />
    @*<link href="~/assets/css/style.bundle.rtl.css" rel="stylesheet" type="text/css" />*@

    @RenderSection("css", false)

    <script src="~/js/vendor/jquery-3.2.1.min.js"></script>
    <script src="~/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/assets/plugins/global/plugins.bundle.js"></script>
    @RenderSection("js", false)
</head>
<body dir="rtl">
    <div class="wrapper">
        <header>
            <!-- Header Middle Start Here -->
            <div class="header-middle ptb-15">
                <div class="container">
                    <div class="row align-items-center no-gutters">
                        <div class="col-lg-3 col-md-12">
                            <div class="logo mb-all-30">
                                <a href="@Url.Content("~/home/")"><img src="~/img/logo/logo3.png" alt="logo-image"></a>
                            </div>
                        </div>
                        <!-- Categorie Search Box Start Here -->
                        <div class="col-lg-5 col-md-8 ml-auto mr-auto col-10">
                            <div class="categorie-search-box">
                                <form action="@Url.Content("~/home/category")" method="get">
                                    <input type="text" name="term" value="@Context.Request.Query["term"]" placeholder="جستجو در مهتاکالا ...">
                                    <button><i class="lnr lnr-magnifier"></i></button>
                                </form>
                            </div>
                        </div>
                        <!-- Categorie Search Box End Here -->
                        <!-- Cart Box Start Here -->
                        <div class="col-lg-4 col-md-12">
                            <div class="cart-box mt-all-30">
                                <ul class="d-flex justify-content-lg-end justify-content-center align-items-center">
                                    <li>
                                        @await Component.InvokeAsync("CartSummary")
                                    </li>

                                    @await Component.InvokeAsync("WishListSummary")
                                    @await Component.InvokeAsync("UserInfo")

                                </ul>
                            </div>
                        </div>
                        <!-- Cart Box End Here -->
                    </div>
                    <!-- Row End -->
                </div>
                <!-- Container End -->
            </div>
            <!-- Header Middle End Here -->
            <!-- Header Bottom Start Here -->
            <div class="header-bottom  header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-4 col-md-6 vertical-menu d-none d-lg-block" id="menulist">
                            <span class="categorie-title" id="menulist">همه دسته بندی ها </span>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-12 ">
                            <nav class="d-none d-lg-block">
                                <ul class="header-bottom-list d-flex">
                                    <li class="active">
                                        <a href="@Url.Content("~/home/")">خانه</a>
                                    </li>
                                    @*<li>
                                            <a href="#">بلاگ</a>
                                        </li>*@
                                    <li><a href="@Url.Content("~/page/Aboutus")">درباره ما</a></li>
                                    <li><a href="@Url.Content("~/page/contact")">تماس با ما</a></li>
                                </ul>
                            </nav>
                            <div class="mobile-menu d-block d-lg-none">
                                <nav>
                                    <ul>
                                        <li>
                                            <a href="@Url.Content("~/home/")">خانه</a>
                                        </li>
                                        @*<li>
                                                <a href="#">بلاگ</a>
                                            </li>*@
                                        <li><a href="#">درباره ما</a></li>
                                        <li><a href="@Url.Content("~/page/contact")">تماس با ما</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!-- Row End -->
                </div>
                <!-- Container End -->
            </div>
            <!-- Header Bottom End Here -->
            @await Component.InvokeAsync("CategoriesMobile")
        </header>
        @if (!(ViewContext.RouteData.Values["controller"].ToString().ToLower() == "home"
     && ViewContext.RouteData.Values["action"].ToString().ToLower() == "index"))
        {
            <div class="main-page-banner home-3">
                <div class="container">
                    <div class="row">
                        @await Component.InvokeAsync("CategoryList")
                    </div>
                </div>
            </div>
            <script>
                $(document).on("click", function (e) {
                    alert(e.target.id);
                    if (e.target.id !== "menulist") {
                        $("#ulmenulist").hide();
                    }  
                });
            </script>
        }



        @RenderBody()
        <footer class="off-white-bg2 pt-30 bdr-top pt-sm-55">

            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        @*<div class="col-lg-2 col-md-4 col-sm-6">
                                <div class="single-footer mb-sm-40">
                                    <h3 class="footer-title">راهنمای خرید از مهتاکالا</h3>
                                    <div class="footer-content">
                                        <ul class="footer-list">
                                            <li><a href="#">نحوه ثبت سفارش</a></li>
                                            <li><a href="#">رویه ارسال سفارش</a></li>
                                            <li><a href="#">شیوه های پرداخت</a></li>
                                            <li><a href="#">ثبت شکایت</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-4 col-sm-6">
                                <div class="single-footer mb-sm-40">
                                    <h3 class="footer-title">خدمات مشتریان</h3>
                                    <div class="footer-content">
                                        <ul class="footer-list">
                                            <li><a href="#">پاسخ به پرسش‌های متداول</a></li>
                                            <li><a href="#">شرایط استفاده</a></li>
                                            <li><a href="#">حریم خصوصی</a></li>
                                            <li><a href="#">رویه‌های بازگرداندن کالا</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-4 col-sm-6">
                                <div class="single-footer mb-sm-40">
                                    <h3 class="footer-title">با مهتا کالا</h3>
                                    <div class="footer-content">
                                        <ul class="footer-list">
                                            <li><a href="#">فروش در مهتا کالا</a></li>
                                            <li><a href="#">فرصت های شغلی</a></li>
                                            <li><a href="#">بلاگ</a></li>
                                            <li><a href="#">نقشه سایت</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>*@
                        <div class="col-lg-2 col-md-4 col-sm-6">
                            <div class="single-footer mb-sm-40">
                                <h3 class="footer-title">تماس با ما</h3>
                                <div class="footer-content">
                                    <ul class="footer-list address-content">
                                        <li><i class="lnr lnr-envelope"></i><a href="#">info@mahtakala.ir </a></li>
                                        <li>
                                            <i class="lnr lnr-phone-handset"></i>  021-88656453
                                        </li>
                                        <li>
                                            <i class="lnr lnr-phone-handset"></i>  021-88656454
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Single Footer Start -->
                        <!-- Single Footer Start -->
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-footer mb-sm-40">
                                <h3 class="footer-title">مجوزها</h3>
                                <div class="footer-content">
                                    <ul id="liList">
                                        <li>
                                            <img class="imgFooter" src="~/img/logo-footer.png" />
                                        </li>
                                        <li>
                                            <img class="imgFooter" src="((آدرس نشان لوگوی اتحادیه))" alt="" onclick="window.open('https://www.ecunion.ir/verify/mahtakala.ir?token=51619435f0185925110e', 'Popup','toolbar=no, location=no, statusbar=no, menubar=no, scrollbars=1, resizable=0, width=580, height=600, top=30')" style="cursor:pointer">
                                        </li>
                                        <li>
                                            <img id='jxlzwlaofukzjxlzwlaorgvj' class="imgFooter" style='cursor:pointer' onclick='window.open("https://logo.samandehi.ir/Verify.aspx?id=146143&p=rfthaodsgvkarfthaodsxlao", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30")'
                                                 src='https://logo.samandehi.ir/logo.aspx?id=146143&p=nbpdshwlwlbqnbpdshwlqfti' />
                                        </li>
                                        <li>
                                            <a target="_blank" href="https://trustseal.enamad.ir/?id=149361&amp;Code=ytzlrNw8i8c1YXJ7p9FE"><img class="imgFooter" src="https://Trustseal.eNamad.ir/logo.aspx?id=149361&amp;Code=ytzlrNw8i8c1YXJ7p9FE" alt="" style="cursor:pointer" id="ytzlrNw8i8c1YXJ7p9FE"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Single Footer Start -->
                    </div>
                    <!-- Row End -->
                </div>
                <!-- Container End -->
            </div>

            <div class="footer-middle text-center">
                <div class="container">
                    <div class="footer-middle-content pt-20 pb-30">
                        <ul class="social-footer">
                            <li><a href="@Url.Content("~/app.apk")"><img src="~/img/icon/social-img1.png" alt="اپ اندروید"></a></li>
                            <li><a href="#"><img src="~/img/icon/social-img2.png" alt="اپ ios"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="footer-bottom pb-30">
                <div class="container">

                    <div class="copyright-text text-center">
                        <p>
                            کپی رایت © 2020 مَـــهــــــتــــا. همه حقوق محفوظ است.
                        </p>
                    </div>
                </div>
                <!-- Container End -->
            </div>
            <!-- Footer Bottom End -->
        </footer>
        @*<div class="main-product-thumbnail quick-thumb-content">
                <div class="container">
                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog modal-lg modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-6 col-sm-5">
                                            <div class="tab-content">
                                                <div id="thumb1" class="tab-pane fade ">
                                                    <a data-fancybox="images" href="~/img/products/35.jpg"><img src="~/img/products/35.jpg" alt="product-view"></a>
                                                </div>
                                                <div id="thumb2" class="tab-pane fade ">
                                                    <a data-fancybox="images" href="~/img/products/13.jpg"><img src="~/img/products/13.jpg" alt="product-view"></a>
                                                </div>
                                                <div id="thumb3" class="tab-pane fade ">
                                                    <a data-fancybox="images" href="~/img/products/15.jpg"><img src="~/img/products/15.jpg" alt="product-view"></a>
                                                </div>
                                                <div id="thumb5" class="tab-pane fade show active">
                                                    <a data-fancybox="images" href="~/img/products/5.jpg"><img src="~/img/products/5.jpg" alt="product-view"></a>
                                                </div>
                                            </div>
                                            <div class="product-thumbnail mt-20">
                                                <div class="thumb-menu owl-carousel nav tabs-area" role="tablist">
                                                    <a class="active" data-toggle="tab" href="#thumb1"><img src="~/img/products/35.jpg" alt="product-thumbnail"></a>
                                                    <a data-toggle="tab" href="#thumb2"><img src="~/img/products/13.jpg" alt="product-thumbnail"></a>
                                                    <a data-toggle="tab" href="#thumb3"><img src="~/img/products/15.jpg" alt="product-thumbnail"></a>
                                                    <a data-toggle="tab" href="#thumb5"><img src="~/img/products/5.jpg" alt="product-thumbnail"></a>
                                                </div>
                                            </div>
                                            <!-- Thumbnail image end -->
                                        </div>
                                        <!-- Main Thumbnail Image End -->
                                        <!-- Thumbnail Description Start -->
                                       <div class="col-lg-7 col-md-6 col-sm-7">
                                                <div class="thubnail-desc fix mt-sm-40">
                                                    <h3 class="product-header">لباس زمستانه</h3>
                                                    <div class="pro-price mtb-30">
                                                        <p class="d-flex align-items-center"><span class="prev-price">250,000</span><span class="price">200,000</span><span class="saving-price"> 8%</span></p>
                                                    </div>
                                                    <p class="mb-20 pro-desc-details">
                                                        این محصول مانند سایر محصولات درس_ایگو دست دوز است. به همین دلیل دوختی بسار تمیز دارد.
                                                    </p>
                                                    <div class="product-size mb-20 clearfix">
                                                        <label>سایز</label>
                                                        <select class="">
                                                            <option>S</option>
                                                            <option>M</option>
                                                            <option>L</option>
                                                        </select>
                                                    </div>
                                                    <div class="color mb-20">
                                                        <label>رنگ</label>
                                                        <ul class="color-list">
                                                            <li>
                                                                <a class="orange active" href="#"></a>
                                                            </li>
                                                            <li>
                                                                <a class="paste" href="#"></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="box-quantity d-flex">
                                                        <form action="#">
                                                            <input class="quantity mr-40" type="number" min="1" value="1">
                                                        </form>
                                                        <a class="add-cart" href="#">اضافه کردن به سبد خرید</a>
                                                    </div>
                                                </div>
                                            </div>

                                    </div>
                                </div>
                                <div class="custom-footer">
                                    <div class="socila-sharing">
                                        <ul class="d-flex">
                                            <li>اشتراک گذاری</li>
                                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus-official" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
    <div id='myModal' class='modal fade'>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div id='myModalContent'></div>
            </div>
        </div>
    </div>
    <script src="~/js/jquery-migrate-3.0.0.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/jquery.countdown.min.js?v=1"></script>
    <script src="~/js/jquery.meanmenu.min.js"></script>
    <script src="~/js/jquery.scrollUp.js"></script>
    <script src="~/js/jquery.nivo.slider.js"></script>
    <script src="~/js/jquery.fancybox.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/plugins.js"></script>

    <script src="~/js/jquery.blockUI.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/js/main.js?v=2.20"></script>
    <script src="~/js/ShoppingCart.js?v=2.20"></script>
</body>
</html>
