@model Product 
@{   var productPrice = Model.Prices.First();
    decimal discount;
    var isDiscount = Util.IsDiscount(productPrice, out discount);
    if(productPrice.DiscountPrice == 0 && Model.Status == ProductStatus.Available)
    {
        Model.Status = ProductStatus.NotAvailable;
    }
 }
<div class="single-product">
    <!-- Product Image Start -->
    <div class="pro-img pro-img-226">
        <a href="@Url.Content("~/home/product/" + Model.Id)">
            <img class="primary-img imgh226" src="@Model.Thubmnail" alt="@Model.Title" title="@Model.Title">
        </a>
        @*<a href="#" class="quick_view" data-toggle="modal" data-target="#myModal" title="نمایش سریع"><i class="lnr lnr-magnifier"></i></a>*@
    </div>
    <!-- Product Image End -->
    <!-- Product Content Start -->
    <div class="pro-content">
        <div class="pro-info">
            <h4><a href="@Url.Content("~/home/product/" + Model.Id)">@Model.Title</a></h4>

            @if (Model.Status == ProductStatus.Available)
            {
                <p style="direction:rtl">
                    <span class="price">
                        @Util.Sub3Number(productPrice.DiscountPrice)
                    </span>
                    <text>ریال</text>
                    @if (isDiscount)
                    {
                        <del class="prev-price">@Util.Sub3Number(productPrice.Price)</del>
                    }
                </p>
                @if (isDiscount)
                {
                    <div class="label-product l_sale">@discount<span class="symbol-percent">%</span></div>
                }
            }
            else
            {
                <p style="direction:rtl">
                    @(MahtaKala.SharedServices.TranslateExtentions.GetTitle(Model.Status))
                </p>
            }
        </div>
        <div class="pro-actions">
            <div class="actions-primary">
                @if (Model.Status == ProductStatus.Available)
                {
                    <a href="#" title="اضافه کردن به سبد" class="addtocart" data-id="@productPrice.Id"> اضافه کردن به سبد +</a>
                }
                else
                {
                    <a href="javascript:void(0)" class="disableItem">@(MahtaKala.SharedServices.TranslateExtentions.GetTitle(Model.Status))</a>

                }
            </div>
            <div class="actions-secondary">
                <a href="#" title="مقایسه" class="compare-to" data-id="@Model.Id"><i class="lnr lnr-sync"></i> <span>مقایسه</span></a>
                <a href="#" title="علاقه مندی ها" class="heart" data-id="@Model.Id"><i class="lnr lnr-heart"></i> <span>علاقه مندی ها</span></a>
            </div>
        </div>
    </div>
    <!-- Product Content End -->
</div>

