@model Product
@{
	var productPrice = Model.Prices.First();
	decimal discount;
	var isDiscount = Util.IsDiscount(productPrice, out discount);
	var productIsAvailable = productPrice.DiscountPrice > 0 && Model.Status == ProductStatus.Available &&
					(Model.Quantities != null && Model.Quantities.Count > 0 && Model.Quantities[0].Quantity > 0);
}

    <div class="single-product">
        <!-- Product Image Start -->
        <div class="pro-img prop-img-270">
            <a href="@Url.Content("~/home/product/"+Model.Id)">
                <img class="primary-img imgh270" src="@Model.Thubmnail" alt="@Model.Title" title="@Model.Title">
            </a>
            @*  <a href="#" class="quick_view" data-toggle="modal" data-target="#myModal" title="Quick View"><i class="lnr lnr-magnifier"></i></a>*@
        </div>
        <!-- Product Image End -->
        <!-- Product Content Start -->
        <div class="pro-content">
            <div class="pro-info">
                <h4><a href="@Url.Content("~/home/product/"+Model.Id)">@Model.Title</a></h4>
                @if (productIsAvailable)
                {
                    <p style="direction:rtl">
                        <span class="price">
                            @Util.Sub3Number(productPrice.DiscountPrice)
                        </span>
                        <text>ریال</text>
                        @if (isDiscount)
                        {
                            <del class="prev-price">@Util.Sub3Number(productPrice.Price)</del>
                        }
                    </p>
                    @if (isDiscount)
                    {
                        <div class="label-product l_sale">@discount<span class="symbol-percent">%</span></div>
                    }
                }
                else
                {
                    <p style="direction:rtl">
                        @(Model.Status == ProductStatus.CommingSoon ? "به زودی" : "ناموجود")
                    </p>
                }
            </div>
            <div class="pro-actions">
                <div class="actions-primary">
                    @if (productIsAvailable)
                    {
                        <a href="#" title="اضافه کردن به سبد" class="addtocart" data-id="@productPrice.Id">+ اضافه کردن به سبد</a>
                    }
                    else
                    {
                        <a href="javascript:void(0)" class="disableItem">@(Model.Status == ProductStatus.CommingSoon ? "به زودی" : "ناموجود")</a>

                    }
                </div>
                <div class="actions-secondary">
                    <a href="#" class="compare-to" data-id="@Model.Id" title="مقایسه"><i class="lnr lnr-sync"></i> <span>مقایسه</span></a>
                    <a href="#" class="heart" data-id="@Model.Id" title="علاقه مندی ها"><i class="lnr lnr-heart"></i> <span>علاقه مندی ها</span></a>
                </div>
            </div>
        </div>
        <!-- Product Content End -->
    </div>