@model MahtaKala.Models.ProductModels.ProductCompareModel
@{
    ViewData["Title"] = "مقایسه محصولات";
    Layout = "~/Views/Shared/_Layout.cshtml";
    HashSet<string> sameProps = null;
    List<Dictionary<string, string>> productProps = new List<Dictionary<string, string>>();
    foreach (var pr in Model.Products)
    {
        if (sameProps == null)
        {
            if (pr.Properties != null)
            {
                sameProps = pr.Properties.Select(a => a.Key).ToHashSet();
            }
        }
        else if (pr.Properties != null)
        {
            sameProps = sameProps.Intersect(pr.Properties.Select(a => a.Key)).ToHashSet();
        }
        if (pr.Properties != null)
            productProps.Add(pr.Properties.ToDictionary(a => a.Key, a => a.Value));
    }

    Dictionary<string, List<string>> props = new Dictionary<string, List<string>>();
    if (sameProps != null)
    {
        foreach (var prop in sameProps)
        {
            List<string> values = new List<string>();
            foreach (var pp in productProps)
            {
                values.Add(pp[prop]);
            }
            props.Add(prop, values);
        }
    }
}
<table class="table table-bordered table-striped table-primary">
    <thead align="center" style="text-align:center">
        <tr>
            <th></th>
            @foreach (var product in Model.Products)
            {
                <th>
                    <a href="~/Home/Product/@product.Id">@product.Title</a>
</th>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            @foreach (var product in Model.Products)
            {
                <td>
                    <a href="~/Home/Product/@product.Id"><img class="primary-img imgh380" src="@product.Thubmnail" /></a>
                </td>
            }
        </tr>
        <tr>
            <td>قیمت</td>
            @foreach (var product in Model.Products)
            {
                <td>
                    @product.Prices.FirstOrDefault()?.DiscountPrice.ToString("N0")
                </td>
            }
        </tr>
        @foreach (var prop in props.Keys)
        {
            <tr>
                <td>@prop</td>
                @foreach (var v in props[prop])
                {
                    <td>@v</td>
                }
            </tr>
        }

    </tbody>

    </table>