@model MahtaKala.Models.ProductModels.ProductHomeModel
@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var productPrice = Model.Prices.First();
    decimal discount;
    var isDiscount = Util.IsDiscount(productPrice, out discount);
}
@await Component.InvokeAsync("BreadCrumb", new { categoryId = Model.CategoryId })
<div class="main-product-thumbnail ptb-50 ptb-sm-60">
    <div class="container">
        <div class="thumb-bg">
            <div class="row">
                <div class="col-lg-5 mb-all-40">
                    <!-- Thumbnail Large Image start -->
                    <div class="tab-content">
                        <div id="thumb1" class="tab-pane fade show  active">
                            <a data-fancybox="images" href="@Model.Thubmnail"><img src="@Model.Thubmnail" alt="product-view"></a>
                        </div>
                        @{
                            int i = 2;
                            foreach (var img in Model.Images)
                            {
                                <div id="thumb@(i)" class="tab-pane fade show">
                                    <a data-fancybox="images" href="@img"><img src="@img" alt="product-view"></a>
                                </div>
                                i++;
                            }
                        }
                    </div>
                    <!-- Thumbnail Large Image End -->
                    <!-- Thumbnail Image End -->
                    <div class="product-thumbnail mt-15">
                        <div class="thumb-menu owl-carousel nav tabs-area" role="tablist" dir="ltr">
                            <a class="active" data-toggle="tab" href="#thumb1"><img src="@(Model.Thubmnail)" alt="product-thumbnail"></a>
                            @{
                                i = 2;
                                foreach (var img in Model.Images)
                                {
                                    <a data-toggle="tab" href="#thumb@(i)"><img src="@img" alt="product-thumbnail"></a>
                                    i++;
                                }
                            }
                        </div>
                    </div>
                    <!-- Thumbnail image end -->
                </div>
                <div class="col-lg-7">
                    <div class="thubnail-desc fix">
                        <h3 class="product-header">@Model.Title</h3>
                        <div class="rating-summary fix mtb-10">
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <div class="rating-feedback">
                                <a href="#">(0 نظر)</a>
                                <a href="#">به بررسی خود اضافه کنید</a>
                            </div>
                        </div>
                        <div class="pro-price mtb-30">
                            <p class="d-flex align-items-center">
                                @if (productPrice.DiscountPrice > 0)
                                {
                                    if (isDiscount)
                                    {
                                        <span class="prev-price">@Util.Sub3Number(productPrice.Price)</span>
                                    }
                                    <span class="price">@Util.Sub3Number(productPrice.DiscountPrice) ریال</span>
                                    if (isDiscount)
                                    {
                                        <span class="saving-price"> @discount% تخفیف</span>
                                    }
                                }
                            </p>
                        </div>
                        <p class="mb-20 pro-desc-details">
                            @Html.Raw(Model.Description)
                        </p>
                        @*<div class="product-size mb-20 clearfix">
                                <label>اندازه</label>
                                <select class="">
                                    <option>S</option>
                                    <option>M</option>
                                    <option>L</option>
                                </select>
                            </div>
                            <div class="color clearfix mb-20">
                                <label>رنگ</label>
                                <ul class="color-list">
                                    <li>
                                        <a class="orange active" href="#"></a>
                                    </li>
                                    <li>
                                        <a class="paste" href="#"></a>
                                    </li>
                                </ul>
                            </div>*@
                        <div class="box-quantity d-flex hot-product2">
                            <form action="#">
                                @if (productPrice.DiscountPrice > 0)
                                {
                                    <input class="quantity mr-15" id="uxQuantity" type="number" min="1" value="1">
                                }
                            </form>
                            <div class="pro-actions">
                                <div class="actions-primary">
                                    @if (productPrice.DiscountPrice > 0)
                                    {
                                        <a href="#" title="" id="addtocart" data-id="@productPrice.Id" data-original-title="اضافه کردن به سبد خرید"> + اضافه کردن به سبد خرید</a>

                                    }
                                    else
                                    {
                                        <a href="javascript:void(0)" class="disableItem">ناموجود</a>

                                    }

                                </div>
                                <div class="actions-secondary">
                                    <a href="#"  class="compare-to" data-id="@Model.Id" title="" data-original-title="مقایسه"><i class="lnr lnr-sync"></i> <span>مقایسه</span></a>
                                    <a href="#" class="heart" data-id="@Model.Id" title="" data-original-title="علاقه مندی ها"><i class="lnr lnr-heart"></i> <span>علاقه مندی ها</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="socila-sharing mt-25">
                            <ul class="d-flex">
                                <li>اشتراک گذاری :</li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus-official" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="thumnail-desc pb-100 pb-sm-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="main-thumb-desc nav tabs-area" role="tablist">
                    <li><a class="active" data-toggle="tab" href="#dtail">توضیحات</a></li>
                    <li><a data-toggle="tab" href="#review">نظرات کاربران 0</a></li>
                </ul>
                <!-- Product Thumbnail Tab Content Start -->
                <div class="tab-content thumb-content border-default">
                    <div id="dtail" class="tab-pane fade show active">
                        <p>
                            @Html.Raw(Model.Description)

                        </p>
                    </div>
                    <div id="review" class="tab-pane fade">
                        <!-- Reviews Start -->
                        <div class="review border-default universal-padding">
                            <div class="group-title">
                                <h2>امتیاز کاربران به : </h2>
                            </div>
                            <h4 class="review-mini-title">@Model.Title</h4>
                            <ul class="review-list">
                                <!-- Single Review List Start -->
                                <li>
                                    <span>کیفیت</span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <label>عالی</label>
                                </li>
                                <!-- Single Review List End -->
                                <!-- Single Review List Start -->
                                <li>
                                    <span>قیمت</span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <label>خوب</label>
                                </li>
                                <!-- Single Review List End -->
                                <!-- Single Review List Start -->
                                <li>
                                    <span>ارزش</span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <label>خوب</label>
                                </li>
                                <!-- Single Review List End -->
                            </ul>
                        </div>
                        <!-- Reviews End -->
                        <!-- Reviews Start -->
                        <div class="review border-default universal-padding mt-30">
                            <h2 class="review-title mb-30">نظر شما: <br><span>@Model.Title</span></h2>
                            <p class="review-mini-title">your rating</p>
                            <ul class="review-list">
                                <!-- Single Review List Start -->
                                <li>
                                    <span>کیفیت</span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </li>
                                <!-- Single Review List End -->
                                <!-- Single Review List Start -->
                                <li>
                                    <span>قیمت</span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </li>
                                <!-- Single Review List End -->
                                <!-- Single Review List Start -->
                                <li>
                                    <span>ارزش</span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </li>
                                <!-- Single Review List End -->
                            </ul>
                            <!-- Reviews Field Start -->
                            <div class="riview-field mt-40">
                                <form autocomplete="off" action="#">
                                    <div class="form-group">
                                        <label class="req" for="sure-name">نام و نام خانوادگی شما</label>
                                        <input type="text" class="form-control" id="sure-name" required="required">
                                    </div>
                                    <div class="form-group">
                                        <label class="req" for="subject">ایمیل</label>
                                        <input type="text" class="form-control" id="subject" required="required">
                                    </div>
                                    <div class="form-group">
                                        <label class="req" for="comments">نظر شما</label>
                                        <textarea class="form-control" rows="5" id="comments" required="required"></textarea>
                                    </div>
                                    <button type="submit" class="customer-btn">ارسال</button>
                                </form>
                            </div>
                            <!-- Reviews Field Start -->
                        </div>
                        <!-- Reviews End -->
                    </div>
                </div>
                <!-- Product Thumbnail Tab Content End -->
            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
@await Component.InvokeAsync("RealtedProducts", new { id = Model.Id, categoryId = Model.CategoryId })
