@model (bool, string, string)
<li>
    @if (!Model.Item1)
    {
        <a href="@Url.Content(Model.Item3)">
            <i class="lnr lnr-user"></i>
            <span class="my-cart">
                <span>
                    <strong>ورود</strong>
                </span>
                <span> ثبت نام</span>
            </span>
        </a>
    }
    else
    {
        <a href="@Url.Content(Model.Item3)">
            <i class="lnr lnr-user"></i>
        </a>
        <span class="my-cart">
            <span>
                <strong>
                    <a href="@Url.Content(Model.Item3)" id="userfullname">
                        @Model.Item2
                    </a>
                </strong>
            </span>
            <span>
                <a class="logout" href="@Url.Content("~/Account/SignOut")">
                    خروج
                </a>
            </span>
        </span>

    }
</li>

