@using MahtaKala.Entities;
@model Category
@{
    ViewData["Title"] = "دسته بندی کالا " + Model.Title;
    Layout = "~/Views/Shared/_Staff.cshtml";
}

@using (Html.BeginForm("Category", "Staff", FormMethod.Post, new { encType = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@ViewData["Title"]</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)



    <div class="form-group row">
        <div class="col-lg-3">
            @Html.LabelFor(model => model.Title)
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
        <div class="col-lg-3">
            @Html.LabelFor(model => model.Disabled)
            @Html.EditorFor(model => model.Disabled, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="col-lg-3">
            @Html.LabelFor(model => model.Published)
            @Html.EditorFor(model => model.Published, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="col-lg-3">
            @Html.LabelFor(model => model.Order)
            @Html.EditorFor(model => model.Order, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="col-lg-6">
            @Html.LabelFor(model => model.ParentId)

            @Html.DropDownListFor(
                 model => model.ParentId,
                 new SelectList(ViewBag.Categories, "Id", "Title", Model.ParentId),
                 "-- Select --",
                 new { htmlAttributes = new { @class = "form-control" } }
            )
            @Html.ValidationMessageFor(model => model.ParentId, "", new { @class = "text-danger" })
        </div>
    </div>




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="دخیره" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
