@using Kendo.Mvc.UI
@{
    ViewData["Title"] = "دسته بندی کالا";
    Layout = "~/Views/Shared/_Staff.cshtml";
}

<div class="filterPanel">
    <fieldset>
        <legend>فیلتر ها:</legend>
        <div class="row">
            <div class="col-lg-3">
                <label>عنوان:</label>
                <input type="text" name="nameFilter" class="form-control additionalData" />
            </div>
            <div class="col-lg-3">
                <label>دسته بندی پدر:</label>
                <input type="text" name="categoryFilter" class="form-control additionalData" />
            </div>
        </div>
    </fieldset>
</div>


@(Html.Kendo().Grid<MahtaKala.Entities.Category>()
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.Title);
        columns.Bound(p=>p.Parent).ClientTemplate("#=Parent!=null?Parent.Title:''#");
        columns.Bound(p => p.Order);
        columns.Bound(p => p.Disabled).ClientTemplate("#=Disabled?'بلی':'خیر'#");
        columns.Bound(p => p.Published).ClientTemplate("#=Published?'بلی':'خیر'#");
        columns.Bound(p => p.Id)
            .ClientTemplate("<a href='##' onclick='moveUp(#=Id#)'><span class='k-icon k-i-sort-asc-sm'></span></a>" +
                            "<a href='##' onclick='moveDown(#=Id#)'><span class='k-icon k-i-sort-desc-sm'></span></a>")
            .Title("ترتیب");
        columns.Command(command => command.Custom("Edit").Text("ویرایش").Click("editEntity")).Width(160);
        columns.Command(command => command.Custom("حذف").Click("RemoveEntity")).Width(90);
    })
    .ToolBar(toolbar =>
    {
        toolbar.ClientTemplateId("GridToolbarTemplate");
    })
    .HtmlAttributes(new { style = "height: 550px;" })
    .Scrollable()
    .Groupable()
    .Sortable()
    .Filterable()
    .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .PageSizes(new int[] { 5, 10, 20, 50 })
        .ButtonCount(5))
    .DataSource(dataSource => dataSource
        .Ajax()
        .Model(model =>
        {
            model.Id(p => p.Id);
        })
        .Read(read => read.Action("GetAllCategories", "Staff").Data("getAdditionalData"))
        .PageSize(20)
    )
)


<script id="GridToolbarTemplate" type="text/x-kendo-template">
    <div class="refreshBtnContainer">
        <a href="##" onclick="window.open('@Url.Content("~/Staff/Category")'); return false;" class="k-pager-refresh k-link k-button">
            <span class="k-icon k-i-add"></span>
            جدید
        </a>
    </div>
</script>

<script>
    function editEntity(e) {
        e.preventDefault();
        window.open(
            '/Staff/Category/' + this.dataItem($(e.currentTarget).closest("tr")).Id,
            '_blank'
        );
    }


    function RemoveEntity(e) {
        e.preventDefault();
        var id = this.dataItem($(e.currentTarget).closest("tr")).Id;
        swal.fire({
            title: "از حذف این آیتم مطمئن هستید؟",
            text: "در صورتی که برای این آیتم رکوردی درج شده باشد حذف می شود و این کار غیر قابل بازگشت می باشد",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "بلی مطمئنم",
            cancelButtonText: "انصراف می دم",
            closeOnConfirm: false,
            closeOnCancel: true
        }).then(function (result) {
            if (result.value) {
                    $.ajax({
                        url: '@Url.Content("~/Staff/Category_Destroy/")' + id,
                        dataType: "json",
                        type: "POST",
                        contentType: 'application/json; charset=utf-8',
                        cache: false,
                        success: function (data) {

                            if (data.success) {
                                var grid = $("#Grid").data("kendoGrid");
                                grid.dataSource.read();
                                swal.fire("حذف رکورد با موفقیت انجام شد", "", "success");
                            }
                            else {
                                swal.fire(data.message, "", "warning");
                            }
                        },
                        error: function (xhr) {
                            swal.fire("خطایی  در حذف اطلاعات اتفاق افتاده است", "", "warning");
                        }
                    });
                }
            });
    }

    function moveUp(id) {
        window.event.preventDefault();
        $.ajax({
            url: '@Url.Content("~/Staff/Category_Up/")' + id,
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            cache: false,
            success: function (data) {

                if (data.success) {
                    var grid = $("#Grid").data("kendoGrid");
                    grid.dataSource.read();
                }
                else {
                    swal.fire(data.message, "", "warning");
                }
            },
            error: function (xhr) {
                swal.fire("خطایی اتفاق افتاده است", "", "warning");
            }
        });
    }

    function moveDown(id) {
        window.event.preventDefault();
        $.ajax({
            url: '@Url.Content("~/Staff/Category_Down/")' + id,
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            cache: false,
            success: function (data) {

                if (data.success) {
                    var grid = $("#Grid").data("kendoGrid");
                    grid.dataSource.read();
                }
                else {
                    swal.fire(data.message, "", "warning");
                }
            },
            error: function (xhr) {
                swal.fire("خطایی اتفاق افتاده است", "", "warning");
            }
        });
    }
</script>
